<%= stylesheet_link_tag 'main', media: 'all' %>


<div class="body-home">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">RuCast</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a href=<%= login_path %> class="nav-link ">Sign In</a>
          <a href=<%= signup_path %> class="nav-link ">Sign Up</a>
        </nav>
      </div>
    </header>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Template by ME</p>
      </div>
    </footer>
  </div>
</div>